body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#add-task-container{
    width: 350px;
    padding: 20px 10px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 0 3px;
    display: flex;
    margin-bottom: 10px;
   
}

input{
    flex: 5;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
}

#add-task{
    flex: 1;
    font-size: 1.2rem;
    transition: .3s;
}
#add-task:hover{
    background-color: black;
    color: white;
}
.task{
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 03px;
    padding: 6px;
    margin-bottom: 5px;

    display: flex;
    justify-content: space-between;
}
.task li{
    list-style: none;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
    
}

.task button{
    border-radius: 10px;
    background-color: white;
    width: 50px;

}

.task .checkTask{
    color: orange;
    margin-right: 5px;
    border: 2px solid orange;
    font-size: 1.5rem;
}
.task .checkTask:hover{
    color: white;
    background-color: orange;
}
.task .deleteTask:hover{
    color: white;
    background-color: red;
}
.task .deleteTask{
    color: red;
    margin-right: 5px;
    border: 2px solid red;
    font-size: 1.5rem;
}